$tablet: 768px
$mobile: 500px
$desktop: 1024px

$yellow: #FFF05A
$gold: #FFD25A
$orange: #FFAA5A
$peach: #FF785A
$brown: #191919
$white: white

$slow: 0.3s
$fast: 0.1s

.Track
  width: calc(25% - 20px) // account for padding
  height: 100px
  color: $brown
  font-weight: lighter
  font-family: Helvetica
  padding: 10px
  border-radius: 2px
  transition: all $fast;
  -webkit-transition: all $fast;
  -moz-transition: all $fast;
  &:hover
    cursor: pointer
    background-color: $gold

.Tracks
  width: 80%
  margin: 100px 10% 0px 10%
  display: flex
  flex-wrap: wrap

@media screen and (max-width: $tablet)
  .Track
    width: calc(50% - 20px) // account for padding

@media screen and (max-width: $mobile)
  .Track
    width: calc(100% - 20px) // account for padding
    height: auto
  .Tracks
    width: 100%
    margin: 0


body
  margin: 0
  font-family: sans-serif
  background-color: $orange

.Controls
  position: fixed;
  bottom: 0;
  width: 100%
  min-height: 100px
  background-color: $peach
  display: flex
  justify-content: flex-start
  align-items: center

  p
    margin-left: 20px

  i
    margin-left: 20px
    font-size: 40px
    outline: none
    transition: all $slow;
    color: $brown
    &:hover
      color: $gold
      cursor: pointer
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);